.navbarContainer {
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.navbarContainer ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

.navbarContainer ul li:hover {
    color: #ff9f1c;
}

.btnContact {
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.btnContact:hover {
    transform: scale(1.05);  /* Escala el botón al 105% de su tamaño original */
}

.darkNavbar {
    background: #8a817c;
    transition: background 0.5s;
}

.navbarContainer li.active a {
    font-weight: 600;
    color: #ff9f1c !important;
}