.galleryContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cardGallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cardGallery:not(:first-child) {
    margin-left: 0;
}

.cardGallery:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cardGallery:hover ~ .cardGallery {
    transform: translateX(30px);
}

.cardGallery {
    transition: 1s;
    flex: 1;
    max-width: 250px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}