.galleryContainer {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.cardGallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cardGallery img {
    width: 23%;
    border-radius: 10px;
}

.btnCarousel {
    background: #212121;
    color: #fffcf2;;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.iconCarousel {
    width: 20px;
    margin-left: 10px;
}