@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

section {
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    margin-top: 150px;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

article {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    width: 64px;
    height: 500px;
    border-radius: 36px;
    display: flex;
    align-items: flex-end;
    opacity: 0.9;
    transition: 0.5s;
}

article.active {
    width: 400px;
    opacity: 1;
}

article h2 {
    font-size: 24px;
    font-weight: 400;
    color: #242422;  /* Color del texto */
    margin: 0;
}

article p {
    color: #242422;  /* Color del texto */
    margin: 0;
}

article img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
    filter: grayscale(0.5);
}

article .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 100px 0 20px 20px;
    display: flex;
    align-items: center;
    gap: 14px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    transition: 0.25s;
}

article.active .content {
    opacity: 1;
    visibility: visible;
}