.contactContainer {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.contactLeft {
    flex-basis: 40%;
    position: relative;
}

.contactRight {
    flex-basis: 56%;
}

.contactLeft h2 {
    font-weight: 600;
    font-size: 16px;
    color: #212121;
}

.contactLeft h3 {
    font-size: 35px;
    color: #ff9f1c;
    margin: 10px 0;
    max-width: 400px;
}

.contactRight iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    filter: grayscale(100%) opacity(0.8);
}