@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* .footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    background-color: #fdfbf6;
    padding: 20px;
    width: auto;
    min-height: 220px;
    margin-top: 140px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */

/* .logoFooter {
    width: 200px;
    height: 200px;
    margin-left: 50px;
} */

/* .footerContainer a {
    text-decoration: none;
    color: #242422;
    font-weight: bold;
} */

/* .footerContainer p {
    font-size: 14px;
    color: #242422;
    margin: 5px 0;
} */

/* .icon {
    font-size: 40px;
    color: #242422;
    background-color: #fdfbf6;
    transition: transform 0.3s ease; 
} */

/* .icon:hover {
    transform: translateY(-5px);
} */

/* .footerCopyright {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    margin-top: 5rem;
} */

.footerContainer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.newslatter {
    display: flex;
    width: 100%;
    position: relative;
    top: 60px;
    max-width: 1000px;
    margin: auto;
    background-color: #303035;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    border-radius: 10px;
}