@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    background-color: #fdfbf6;
    padding: 20px;
    width: auto;
    min-height: 220px;
    margin-top: 140px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logoFooter {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.footerContainer a {
    text-decoration: none;
    color: #242422;
    font-weight: bold;
}

.footerContainer p {
    font-size: 14px;
    color: #242422;
    margin: 5px 0;
}

.icon {
    font-size: 40px;
    color: #242422;
    background-color: #fdfbf6;
    transition: transform 0.3s ease; 
}

.icon:hover {
    transform: translateY(-5px);
}

.footerCopyright {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    margin-top: 5rem;
}

/* *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
a,
button,
li {
	all: unset;
	font: inherit;
}

a,
button {
	cursor: pointer;
}

.footerContainer {
    width: 100%;
    background-color: #fdfbf6;
    padding: 3.5rem;
    min-height: 20rem;
    font-family: 'DM Sans', sans-serif ;
    color: #242422;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footerWrapper {
    max-width: 90rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.footerSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.footerSubscribe {
    max-width: clamp(20rem, 33vw, 33rem);
}

.footerSubscribe > h2 {
    font-size: clamp(1.5rem, 2.3vw, 2.25rem);
}

.box {
    display: flex;
    max-width: 100%;
    padding-block: 1rem;
    border-bottom: 1px solid black;
    margin-top: 3rem;
}

.box > input {
    flex-grow: 1;
}

.footerNav{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(3rem, 4vw, 7rem);
}

.footerNav > div > h3 {
    font-size: 1rem;
}

.footerNav > div > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

.footerNav > div li {
    font-size: 1.125rem;
    font-weight: 700;
    transition: opacity 200ms ease;
}

.footerNav > div li:hover {
    opacity: 0.5;
}

.footerCopyright {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    margin-top: 5rem;
}

@media (width <= 53rem) {
    .footerSubscribe {
        max-width: 100%;
    }
} */