@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.navbarContainer {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.navbarContainer ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btnContact {
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

/* .search {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px;
    border-radius: 50px;
} */

/* .search input {
    padding: 5px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fdfbf6;
    font-size: 16px;
    max-width: 210px;
} */

/* .search input::placeholder {
    color: #fdfbf6;
    font-family: 'DM Sans', sans-serif;
} */

/* .navbarContainer li a {
    text-decoration: none;
    color: #242422;
    transition: color 0.3s;
} */

/* .navbarContainer li.active a {
    font-weight: 600;
    color: #333333 !important;
} */

/* @media screen and (max-width: 768px) {
    .navbarContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        margin-top: 10px;
    }

    ul li {
        display: block;
        margin: 10px 0;
    }
} */