@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.container {
    font-family: 'DM Sans', sans-serif;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container li {
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.container li a {
    text-decoration: none;
    color: #242422;
    transition: color 0.3s;
}

.active a {
    font-weight: 700;
    color: #333333 !important;
}