@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfbf6;
    font-family: 'DM Sans', sans-serif;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px;
    height: auto;
}

.navbar {
    margin-left: auto;
}